.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 300px;
}
.containerContent {
  margin: 20px;
}

.main {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  background-color: pink;
}

.contentLeft {
  border: solid 1px #ccc;
}
.contentRight {
  width: 60%;
}
.title {
  margin-bottom: 1em;
  line-height: 25px;
}
