.main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.images {
  margin: 20px 0;
}

.styleImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
  border-bottom: 0.0625rem solid rgb(239, 239, 239);
  border-top: 0.0625rem solid rgb(239, 239, 239);
  background-color:  red;
  color: #fff;
}

.items {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 50px;
  padding: 0 10px;
  text-transform: uppercase;
  margin: 5px 0;
  font-size: 18px;
}

.items:hover {
  background-color: #ff8a25;
  color: #fff;
  transition: all 0.5s linear;
  cursor: pointer;
  border-radius: 50px;
}

.items:hover .listItems{
  display: block;
}

.listItems{
  display: none;
  position: absolute;
  top: 50px;
  background-color: #b2f7ef;
  color: #000;
  margin-left: 22px;
}
.titleProduct{
  width: 150px;
  font-size: 14px;
  padding: 8px 15px;
  text-transform:none;
}
.titleProduct:hover{
  background-color: #ffb0bc;
  cursor: pointer;
}
